<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>RequestAPIServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.RequestAPIServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ParameterServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.ParameterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>com.atguigu.servlet.Servlet1</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>username</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>com.atguigu.servlet.Servlet2</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ForwardC</servlet-name>
    <servlet-class>com.atguigu.servlet.ForwardC</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ResponseIoServlet</servlet-name>
    <servlet-class>com.atguigu.servlet.ResponseIoServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Response1</servlet-name>
    <servlet-class>com.atguigu.servlet.Response1</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Response2</servlet-name>
    <servlet-class>com.atguigu.servlet.Response2</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Response2</servlet-name>
    <url-pattern>/response2</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Response1</servlet-name>
    <url-pattern>/response1</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseIoServlet</servlet-name>
    <url-pattern>/responseIoServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ForwardC</servlet-name>
    <url-pattern>/forwardC</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/servlet2</url-pattern>

  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/servlet1</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RequestAPIServlet</servlet-name>
    <url-pattern>/requestAPIServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ParameterServlet</servlet-name>
    <url-pattern>/parameterServlet</url-pattern>
  </servlet-mapping>
</web-app>
